PORT="9000"

MODE="prod"

LOG_LEVEL="info"

SERVER_ID=""
AGENT_TOKEN=""
BACKEND_URL="http://localhost:8000"

HEARTBEAT_INTERVAL_SECONDS="30"
HEALTH_CHECK_INTERVAL_SECONDS="30"
METRICS_CACHE_TTL_SECONDS="5"
