PORT="9000"
BIND_HOST="127.0.0.1"
SERVER_IDLE_TIMEOUT_SECONDS="120"

MODE="prod"

LOG_LEVEL="info"

SERVER_ID=""
AGENT_TOKEN=""
BACKEND_URL="http://localhost:8000"

TLS_CERT_PATH=""
TLS_KEY_PATH=""
TLS_CA_PATH=""

HEARTBEAT_INTERVAL_SECONDS="30"
HEALTH_CHECK_INTERVAL_SECONDS="30"
METRICS_CACHE_TTL_SECONDS="8"

CADDY_ADMIN_URL="http://127.0.0.1:2019"
PROXY_HTTPS_PORT="443"
PROXY_CONTAINER_SERVICE="caddy"
PROXY_ACCESS_AGGREGATE_INTERVAL_SECONDS="30"
PROXY_ACCESS_AGGREGATE_MAX_TAIL_LINES="1500"

WORKSPACE_PATH="/var/lib/zydock/builds"

ZYDOCK_INSTALL_DIR="/data/zydock"
UPDATER_IMAGE="docker:cli"
RESTORER_IMAGE="docker:cli"

FILES_MAX_UPLOAD_BYTES="524288000"
FILES_MAX_READ_AS_TEXT_BYTES="2097152"
FILES_MAX_LIST_ENTRIES="1000"
FILES_MAX_PATH_DEPTH="16"

ALLOW_SYSTEM_CONTAINER_REMOVAL="false"
